body {
	background-color: #0f182b;
	background: -webkit-linear-gradient(top, #0f182b, #2a3b53, #0f182b); 
	background: -moz-linear-gradient(top, #0f182b, #2a3b53, #0f182b); 
	background: linear-gradient(#0f182b, #2a3b53, #0f182b); 
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	color: #fff;
}

.centerOne {
	margin-top: 5%;
	float: left;
	position: relative;
	left: 50%;
}

.centerTwo {
	float: left;
	position: relative;
	left: -50%;
}

.outter {
	width: 600px;
	background-color: #e2e2e2;
 	padding: 15px;
}

.inner {
	background-color: #0f182b;
	background: -webkit-linear-gradient(top, #0f182b, #2a3b53, #0f182b); 
	background: -moz-linear-gradient(top, #0f182b, #2a3b53, #0f182b); 
	background: linear-gradient(#0f182b, #2a3b53, #0f182b); 
}

table, th, td {
    border: 0.5px solid white;
    border-collapse: collapse;
}

a {
	color: grey;
}

a:hover {
	color: #ffffff;
}

.sessionSet {
	text-align: center;
}